{% extends 'base.html' %} {% block title %}Django Crud{% endblock title %}
{%block style %} #table-crud { box-shadow: rgb(3 1 12 / 15%) 0px 48px 100px 0px;
} div.container, div.col-sm-12 { padding: 0 !important; } body {
background-color: hsl(235, 21%, 11%) !important; } {%endblock style %} 
{%block body%}

{% if user.is_authenticated %}

  
    <div class="container">
    <div class="row">
      <a href="/details">   
      <div class="col-md-3">
      <div class="card-counter success">
        <i class="fa fa-database"></i>
        <span class="count-numbers">{{number}}</span>
        <span class="count-name">Details Assigned</span>
      </div>
    </a>
    </div>
    </div>
    
  
  {% else %}
<div class="container my-3">
  <div class="row ">
    <h4
      class="mb-5 mt-2 text-dark alert alert-light"
      style="text-transform: capitalize"
    >
      Assign details to a user
    </h4> 
    
    <div class="col-sm-12">
      {% if update %}
      <form action="{% url 'update' iddata %}" method="POST" autocomplete="off">
        {% csrf_token %} {{formupdate.as_p}}
        <button type="submit" class="btn btn-warning">Update</button>
      </form>
      {% else %}
      <form action="/" method="POST" autocomplete="off">
        {% csrf_token %} {{form.as_p}}
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}
{% endblock body %}
